*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.content h1 {
  font-size: 20px;
  font-weight: bold;
}

.content h3 {
  font-size: 14px;
}

.container {
  background-color: #D3D3D3;
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: black;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  padding-top: 50px;
  width: 100%;
}

.location {
  border-bottom: 1px solid #333;
  padding: 20px;
  width: 100%;
}

.content {
  display: inline-block;
  width: 88%;
  padding-left:1%
  padding-right:1%;
}

.arrow {
  display: inline-block;
  float: right;
  padding-left: 1%;
  padding-right: 1%;
  width: 8%;
}

.location:hover {
  background-color: #C0C0C0;
}
